/*
*
* TechTB
* T3S - Component Classes
* v3.0.0
*
*/

.t3s-ul {
    margin-top: 8px;
    margin-bottom: 8px;
    list-style: disc;
}

.t3s-ul li {
    padding-top: 8px;
}

.t3s-ul-circle {
    margin-top: 8px;
    margin-bottom: 8px;
    list-style: circle;
}

.t3s-ul-circle li {
    padding-top: 8px;
}

.t3s-bar {
    width: 100%;
    overflow: hidden;
}

.t3s-header {
    width: 100%;
    top: 0px;
    position: fixed;
}

.t3s-footer {
    width: 100%;
    bottom: 0px;
    position: fixed;
    overflow: hidden;
}

.t3s-p-gap {
    line-height: 1.5 !important;
}

.t3s-p-gap-2 {
    line-height: 2 !important;
}

.t3s-p-gap-3 {
    line-height: 3 !important;
}

.t3s-p-gap-4 {
    line-height: 4 !important;
}

.t3s-button {
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-weight: bold;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    background-color: unset;
    color: inherit;
}

.t3s-button:disabled {
    background-color: lightgray !important;
    color: gray !important;
    cursor: unset !important;
}

.t3s-button-nohover {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    background-color: unset;
    color: inherit;
}

.t3s-button-menu {
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border: none;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    background-color: unset;
    color: inherit;
}

.t3s-button-menu:disabled {
    background-color: lightgray;
    color: gray;
    cursor: unset;
}

.site-button-header {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    font-weight: bold;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    background-color: unset;
    color: inherit;
}

.site-button-header:disabled {
    background-color: lightgray;
    color: gray;
    cursor: unset;
}

.t3s-button-simple {
    padding: unset;
    border: none;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    background-color: unset;
    color: inherit;
}

.t3s-button-simple:disabled {
    background-color: lightgray !important;
    color: gray !important;
    cursor: unset !important;
}

.t3s-input {
    padding: 8px;
    border: none;
    outline: none;
}

.t3s-input-clean {
    padding: 8px;
    border: none;
    outline: none;
    -webkit-appearance: textfield;
    /* Hide the default arrows */
    appearance: textfield;
    /* Hide the default arrows */
}

.t3s-modal-background {
    position: fixed;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(169, 169, 169, .7);
}

.t3s-modal-background-clear {
    position: fixed;
    top: 0px;
    height: 100%;
    width: 100%;
}

.t3s-modal-background-dark {
    position: fixed;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(169, 169, 169, .9);
    z-index: 900;
}

.t3s-glass-light {
    position: relative;
    border: 1px solid rgba(255, 255, 255, .3);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.t3s-glass-light::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, #c7c7c7, #ffffff, #c7c7c7);
    opacity: 0.2;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    z-index: -1;
}

.t3s-glass-medium {
    position: relative;
    border: 1px solid rgba(255, 255, 255, .3);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.t3s-glass-medium::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, #c7c7c7, #ffffff, #c7c7c7);
    opacity: 0.5;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    z-index: -1;
}

.t3s-glass-heavy {
    position: relative;
    border: 1px solid rgba(255, 255, 255, .3);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.t3s-glass-heavy::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, #c7c7c7, #ffffff, #c7c7c7);
    opacity: 0.7;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    z-index: -1;
}

/* Toggle Switch */
/* Toggle Switch - the box around the slider */
.t3s-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

/* Hide default HTML checkbox */
.t3s-switch input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.t3s-switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.t3s-switch-slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: darkgrey;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.t3s-switch-slider {
    background-color: dimgrey;
}

input:focus+.t3s-switch-slider {
    box-shadow: 0 0 1px black;
}

input:checked+.t3s-switch-slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Check Box */
/* The container */
.t3s-checkbox {
    display: block;
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 16px;
}

/* Hide the browser's default checkbox */
.t3s-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Custom checkbox */
.t3s-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: lightgrey;
}

/* On mouse-over, add a grey background color */
.t3s-checkbox:hover input~.t3s-checkmark {
    background-color: grey;
}

/* When the checkbox is checked, add a blue background */
.t3s-checkbox input:checked~.t3s-checkmark {
    background-color: blue;
}

/* Create the checkmark/indicator (hidden when not checked) */
.t3s-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.t3s-checkbox input:checked~.t3s-checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.t3s-checkbox .t3s-checkmark:after {
    left: 6px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Loader Classes */
.t3s-loader-black {
    border: 8px solid gainsboro;
    border-radius: 50%;
    border-top: 8px solid black;
    width: 64px;
    height: 64px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    z-index: 910;
}

.t3s-loader-white {
    border: 8px solid gainsboro;
    border-radius: 50%;
    border-top: 8px solid white;
    width: 64px;
    height: 64px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    z-index: 910;
}

.t3s-loader-purple {
    border: 8px solid gainsboro;
    border-radius: 50%;
    border-top: 8px solid purple;
    width: 64px;
    height: 64px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    z-index: 910;
}

.t3s-loader-blue {
    border: 8px solid gainsboro;
    border-radius: 50%;
    border-top: 8px solid blue;
    width: 64px;
    height: 64px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    z-index: 910;
}

.t3s-loader-green {
    border: 8px solid gainsboro;
    border-radius: 50%;
    border-top: 8px solid green;
    width: 64px;
    height: 64px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    z-index: 910;
}

.t3s-loader-yellow {
    border: 8px solid gainsboro;
    border-radius: 50%;
    border-top: 8px solid yellow;
    width: 64px;
    height: 64px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    z-index: 910;
}

.t3s-loader-orange {
    border: 8px solid gainsboro;
    border-radius: 50%;
    border-top: 8px solid orange;
    width: 64px;
    height: 64px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    z-index: 910;
}

.t3s-loader-red {
    border: 8px solid gainsboro;
    border-radius: 50%;
    border-top: 8px solid red;
    width: 64px;
    height: 64px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    z-index: 910;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Drop Down Classes */
.t3s-hoverdrop-hidable {
    display: none;
    position: absolute;
    top: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.t3s-hoverdrop-container:hover .t3s-hoverdrop-hidable {
    display: flex;
}
