* {
    box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
p,
a {
    margin: unset;
    padding: unset;
}

a {
    font-size: inherit;
    text-decoration: unset;
}

ol,
ul,
li {
    margin: unset;
}

input,
button,
textarea,
select {
    margin: unset;
    padding: unset;
    font-size: inherit;
    border: unset;
    outline: unset;
    background-color: unset;
    border-radius: unset;
    text-decoration: unset;
    overflow: hidden;
}
