/*
*
* T3S - Animation Classes
* v0.2.0
*
*/


/* Transform Rotate */
.t3s-rotate-360 {
    transform: rotate(180deg);
}

.t3s-rotate-270 {
    transform: rotate(270deg);
}

.t3s-rotate-180 {
    transform: rotate(180deg);
}

.t3s-rotate-90 {
    transform: rotate(90deg);
}

/* Transition Transform */
.t3s-transform-100 {
    transition: transform 100ms ease-in-out;
}

.t3s-transform-200 {
    transition: transform 200ms ease-in-out;
}

.t3s-transform-300 {
    transition: transform 300ms ease-in-out;
}

.t3s-transform-400 {
    transition: transform 400ms ease-in-out;
}

.t3s-transform-500 {
    transition: transform 500ms ease-in-out;
}

.t3s-transform-600 {
    transition: transform 600ms ease-in-out;
}

.t3s-transform-700 {
    transition: transform 700ms ease-in-out;
}

.t3s-transform-800 {
    transition: transform 800ms ease-in-out;
}

.t3s-transform-900 {
    transition: transform 900ms ease-in-out;
}

.t3s-transform-1 {
    transition: transform 1s ease-in-out;
}

.t3s-transform-2 {
    transition: transform 2s ease-in-out;
}

.t3s-transform-3 {
    transition: transform 3s ease-in-out;
}

.t3s-transform-4 {
    transition: transform 4s ease-in-out;
}

.t3s-transform-5 {
    transition: transform 5s ease-in-out;
}

/* Transition Height */
.t3s-tran-h-100 {
    transition: height 100ms ease-in-out;
}

.t3s-tran-h-200 {
    transition: height 200ms ease-in-out;
}

.t3s-tran-h-300 {
    transition: height 300ms ease-in-out;
}

.t3s-tran-h-400 {
    transition: height 400ms ease-in-out;
}

.t3s-tran-h-500 {
    transition: height 500ms ease-in-out;
}

.t3s-tran-h-1 {
    transition: height 1s ease-in-out;
}

.t3s-tran-h-2 {
    transition: height 2s ease-in-out;
}

.t3s-tran-h-3 {
    transition: height 3s ease-in-out;
}

.t3s-tran-h-4 {
    transition: height 4s ease-in-out;
}

.t3s-tran-h-5 {
    transition: height 5s ease-in-out;
}

/* Transition Width */
.t3s-tran-w-100 {
    transition: width 100ms ease-in-out;
}

.t3s-tran-w-200 {
    transition: width 200ms ease-in-out;
}

.t3s-tran-w-300 {
    transition: width 300ms ease-in-out;
}

.t3s-tran-w-400 {
    transition: width 400ms ease-in-out;
}

.t3s-tran-w-500 {
    transition: width 500ms ease-in-out;
}

.t3s-tran-w-2 {
    transition: width 2s ease-in-out;
}

.t3s-tran-w-3 {
    transition: width 3s ease-in-out;
}

.t3s-tran-w-4 {
    transition: width 4s ease-in-out;
}

.t3s-tran-w-5 {
    transition: width 5s ease-in-out;
}

/* Transition Opacity */
.t3s-tran-op-100 {
    transition: opacity 100ms ease-in-out;
}

.t3s-tran-op-200 {
    transition: opacity 200ms ease-in-out;
}

.t3s-tran-op-300 {
    transition: opacity 300ms ease-in-out;
}

.t3s-tran-op-400 {
    transition: opacity 400ms ease-in-out;
}

.t3s-tran-op-500 {
    transition: opacity 500ms ease-in-out;
}

.t3s-tran-op-1 {
    transition: opacity 1s ease-in-out;
}

.t3s-tran-op-2 {
    transition: opacity 2s ease-in-out;
}

.t3s-tran-op-3 {
    transition: opacity 3s ease-in-out;
}

.t3s-tran-op-4 {
    transition: opacity 4s ease-in-out;
}

.t3s-tran-op-5 {
    transition: opacity 5s ease-in-out;
}

/* Animation Down */
.t3s-ani-down-100 {
    animation: ani-down-25p 100ms ease-in-out;
}

.t3s-ani-down-200 {
    animation: ani-down-25p 200ms ease-in-out;
}

.t3s-ani-down-300 {
    animation: ani-down-25p 300ms ease-in-out;
}

.t3s-ani-down-400 {
    animation: ani-down-25p 400ms ease-in-out;
}

.t3s-ani-down-500 {
    animation: ani-down-25p 500ms ease-in-out;
}

.t3s-ani-down-600 {
    animation: ani-down-25p 600ms ease-in-out;
}

.t3s-ani-down-700 {
    animation: ani-down-25p 700ms ease-in-out;
}

.t3s-ani-down-800 {
    animation: ani-down-25p 800ms ease-in-out;
}

.t3s-ani-down-900 {
    animation: ani-down-25p 900ms ease-in-out;
}

.t3s-ani-down-1000 {
    animation: ani-down-25p 1s ease-in-out;
}

.t3s-ani-down-100p-100 {
    animation: ani-down-100p 100ms ease-in-out;
}

.t3s-ani-down-100p-200 {
    animation: ani-down-100p 200ms ease-in-out;
}

.t3s-ani-down-100p-300 {
    animation: ani-down-100p 300ms ease-in-out;
}

.t3s-ani-down-100p-400 {
    animation: ani-down-100p 400ms ease-in-out;
}

.t3s-ani-down-100p-500 {
    animation: ani-down-100p 500ms ease-in-out;
}

.t3s-ani-down-100p-600 {
    animation: ani-down-100p 600ms ease-in-out;
}

.t3s-ani-down-100p-700 {
    animation: ani-down-100p 700ms ease-in-out;
}

.t3s-ani-down-100p-800 {
    animation: ani-down-100p 800ms ease-in-out;
}

.t3s-ani-down-100p-900 {
    animation: ani-down-100p 900ms ease-in-out;
}

.t3s-ani-down-100p-1000 {
    animation: ani-down-100p 1s ease-in-out;
}

/* Animation Up */
.t3s-ani-up-100 {
    animation: ani-up-25p 100ms ease-in-out;
}

.t3s-ani-up-200 {
    animation: ani-up-25p 200ms ease-in-out;
}

.t3s-ani-up-300 {
    animation: ani-up-25p 300ms ease-in-out;
}

.t3s-ani-up-400 {
    animation: ani-up-25p 400ms ease-in-out;
}

.t3s-ani-up-500 {
    animation: ani-up-25p 500ms ease-in-out;
}

.t3s-ani-up-600 {
    animation: ani-up-25p 600ms ease-in-out;
}

.t3s-ani-up-700 {
    animation: ani-up-25p 700ms ease-in-out;
}

.t3s-ani-up-800 {
    animation: ani-up-25p 800ms ease-in-out;
}

.t3s-ani-up-900 {
    animation: ani-up-25p 900ms ease-in-out;
}

.t3s-ani-up-1000 {
    animation: ani-up-25p 1s ease-in-out;
}

.t3s-ani-up-100p-100 {
    animation: ani-up-100p 100ms ease-in-out;
}

.t3s-ani-up-100p-200 {
    animation: ani-up-100p 200ms ease-in-out;
}

.t3s-ani-up-100p-300 {
    animation: ani-up-100p 300ms ease-in-out;
}

.t3s-ani-up-100p-400 {
    animation: ani-up-100p 400ms ease-in-out;
}

.t3s-ani-up-100p-500 {
    animation: ani-up-100p 500ms ease-in-out;
}

.t3s-ani-up-100p-600 {
    animation: ani-up-100p 600ms ease-in-out;
}

.t3s-ani-up-100p-700 {
    animation: ani-up-100p 700ms ease-in-out;
}

.t3s-ani-up-100p-800 {
    animation: ani-up-100p 800ms ease-in-out;
}

.t3s-ani-up-100p-900 {
    animation: ani-up-100p 900ms ease-in-out;
}

.t3s-ani-up-100p-1000 {
    animation: ani-up-100p 1s ease-in-out;
}

/* Animation Right */
.t3s-ani-right-100 {
    animation: ani-right-25p 100ms ease-in-out;
}

.t3s-ani-right-200 {
    animation: ani-right-25p 200ms ease-in-out;
}

.t3s-ani-right-300 {
    animation: ani-right-25p 300ms ease-in-out;
}

.t3s-ani-right-400 {
    animation: ani-right-25p 400ms ease-in-out;
}

.t3s-ani-right-500 {
    animation: ani-right-25p 500ms ease-in-out;
}

.t3s-ani-right-600 {
    animation: ani-right-25p 600ms ease-in-out;
}

.t3s-ani-right-700 {
    animation: ani-right-25p 700ms ease-in-out;
}

.t3s-ani-right-800 {
    animation: ani-right-25p 800ms ease-in-out;
}

.t3s-ani-right-900 {
    animation: ani-right-25p 900ms ease-in-out;
}

.t3s-ani-right-1000 {
    animation: ani-right-25p 1s ease-in-out;
}

.t3s-ani-right-100p-100 {
    animation: ani-right-100p 100ms ease-in-out;
}

.t3s-ani-right-100p-200 {
    animation: ani-right-100p 200ms ease-in-out;
}

.t3s-ani-right-100p-300 {
    animation: ani-right-100p 300ms ease-in-out;
}

.t3s-ani-right-100p-400 {
    animation: ani-right-100p 400ms ease-in-out;
}

.t3s-ani-right-100p-500 {
    animation: ani-right-100p 500ms ease-in-out;
}

.t3s-ani-right-100p-600 {
    animation: ani-right-100p 600ms ease-in-out;
}

.t3s-ani-right-100p-700 {
    animation: ani-right-100p 700ms ease-in-out;
}

.t3s-ani-right-100p-800 {
    animation: ani-right-100p 800ms ease-in-out;
}

.t3s-ani-right-100p-900 {
    animation: ani-right-100p 900ms ease-in-out;
}

.t3s-ani-right-100p-1000 {
    animation: ani-right-100p 1s ease-in-out;
}

/* Animation Left */
.t3s-ani-left-100 {
    animation: ani-left-25p 100ms ease-in-out;
}

.t3s-ani-left-200 {
    animation: ani-left-25p 200ms ease-in-out;
}

.t3s-ani-left-300 {
    animation: ani-left-25p 300ms ease-in-out;
}

.t3s-ani-left-400 {
    animation: ani-left-25p 400ms ease-in-out;
}

.t3s-ani-left-500 {
    animation: ani-left-25p 500ms ease-in-out;
}

.t3s-ani-left-600 {
    animation: ani-left-25p 600ms ease-in-out;
}

.t3s-ani-left-700 {
    animation: ani-left-25p 700ms ease-in-out;
}

.t3s-ani-left-800 {
    animation: ani-left-25p 800ms ease-in-out;
}

.t3s-ani-left-900 {
    animation: ani-left-25p 900ms ease-in-out;
}

.t3s-ani-left-1000 {
    animation: ani-left-25p 1s ease-in-out;
}

.t3s-ani-left-100p-100 {
    animation: ani-left-100p 100ms ease-in-out;
}

.t3s-ani-left-100p-200 {
    animation: ani-left-100p 200ms ease-in-out;
}

.t3s-ani-left-100p-300 {
    animation: ani-left-100p 300ms ease-in-out;
}

.t3s-ani-left-100p-400 {
    animation: ani-left-100p 400ms ease-in-out;
}

.t3s-ani-left-100p-500 {
    animation: ani-left-100p 500ms ease-in-out;
}

.t3s-ani-left-100p-600 {
    animation: ani-left-100p 600ms ease-in-out;
}

.t3s-ani-left-100p-700 {
    animation: ani-left-100p 700ms ease-in-out;
}

.t3s-ani-left-100p-800 {
    animation: ani-left-100p 800ms ease-in-out;
}

.t3s-ani-left-100p-900 {
    animation: ani-left-100p 900ms ease-in-out;
}

.t3s-ani-left-100p-1000 {
    animation: ani-left-100p 1s ease-in-out;
}

/* Animation Spin */
.t3s-ani-spin-360-100 {
    animation: spin-360 100ms ease-in-out;
}

.t3s-ani-spin-360-300 {
    animation: spin-360 300ms ease-in-out;
}

.t3s-ani-spin-360-500 {
    animation: spin-360 500ms ease-in-out;
}

.t3s-ani-spin-270-100 {
    animation: spin-270 100ms ease-in-out;
}

.t3s-ani-spin-270-300 {
    animation: spin-270 300ms ease-in-out;
}

.t3s-ani-spin-270-500 {
    animation: spin-270 500ms ease-in-out;
}

.t3s-ani-spin-180-100 {
    animation: spin-180 100ms ease-in-out;
}

.t3s-ani-spin-180-300 {
    animation: spin-180 300ms ease-in-out;
}

.t3s-ani-spin-180-500 {
    animation: spin-180 500ms ease-in-out;
}

.t3s-ani-spin-90-100 {
    animation: spin-90 100ms ease-in-out;
}

.t3s-ani-spin-90-300 {
    animation: spin-90 300ms ease-in-out;
}

.t3s-ani-spin-90-500 {
    animation: spin-90 500ms ease-in-out;
}

/* Keyframes Down */
@keyframes ani-down-100p {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes ani-down-75p {
    0% {
        transform: translateY(-75%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes ani-down-50p {
    0% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes ani-down-25p {
    0% {
        transform: translateY(-25%);
    }

    100% {
        transform: translateY(0);
    }
}

/* Keyframes Up */
@keyframes ani-up-100p {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes ani-up-75p {
    0% {
        transform: translateY(75%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes ani-up-50p {
    0% {
        transform: translateY(50%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes ani-up-25p {
    0% {
        transform: translateY(25%);
    }

    100% {
        transform: translateY(0);
    }
}

/* Keyframes Right */
@keyframes ani-right-100p {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes ani-right-75p {
    0% {
        transform: translateX(-75%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes ani-right-50p {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes ani-right-25p {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(0);
    }
}

/* Keyframes Left */
@keyframes ani-left-100p {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes ani-left-75p {
    0% {
        transform: translateX(75%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes ani-left-50p {
    0% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes ani-left-25p {
    0% {
        transform: translateX(25%);
    }

    100% {
        transform: translateX(0);
    }
}

/* Keyframes Spin */
@keyframes spin-360 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin-270 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(270deg);
    }
}

@keyframes spin-180 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes spin-90 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }
}
