/*
*
* T3S - Component Classes
* v0.1.5
*
*/

/* Buttons/Inputs */
.t3s-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: unset;
    overflow: hidden;
    cursor: pointer;
    text-decoration: unset;
    color: inherit;
}

.t3s-button:disabled {
    background-color: lightgray !important;
    color: gray !important;
    cursor: unset !important;
}

.t3s-input {
    border: unset;
    outline: unset;
    appearance: textfield;
}

/* Modal*/
.t3s-modal-background {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(169, 169, 169, .7);
}

.t3s-modal-background-clear {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: unset;
}

.t3s-modal-background-light {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(169, 169, 169, .5);
}

.t3s-modal-background-dark {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(169, 169, 169, .9);
}

/* Glass */
.t3s-glass-light {
    position: relative;
    border: 1px solid rgba(255, 255, 255, .3);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.t3s-glass-light::before {
    content: "" !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background-image: linear-gradient(45deg, #c7c7c7, #ffffff, #c7c7c7) !important;
    opacity: 0.2 !important;
    backdrop-filter: blur(4px) !important;
    -webkit-backdrop-filter: blur(4px) !important;
    z-index: -1 !important;
}

.t3s-glass-medium {
    position: relative;
    border: 1px solid rgba(255, 255, 255, .3);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.t3s-glass-medium::before {
    content: "" !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background-image: linear-gradient(45deg, #c7c7c7, #ffffff, #c7c7c7) !important;
    opacity: 0.5 !important;
    backdrop-filter: blur(4px) !important;
    -webkit-backdrop-filter: blur(4px) !important;
    z-index: -1 !important;
}

.t3s-glass-heavy {
    position: relative;
    border: 1px solid rgba(255, 255, 255, .3);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.t3s-glass-heavy::before {
    content: "" !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background-image: linear-gradient(45deg, #c7c7c7, #ffffff, #c7c7c7) !important;
    opacity: 0.7 !important;
    backdrop-filter: blur(4px) !important;
    -webkit-backdrop-filter: blur(4px) !important;
    z-index: -1 !important;
}

/* Toggle Switch */
/* Toggle Switch - the box around the slider */
.t3s-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

/* Hide default HTML checkbox */
.t3s-switch input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.t3s-switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.t3s-switch-slider:before {
    position: absolute !important;
    content: "" !important;
    height: 16px !important;
    width: 16px !important;
    left: 2px !important;
    bottom: 2px !important;
    background-color: darkgrey !important;
    -webkit-transition: .4s !important;
    transition: .4s !important;
    border-radius: 50% !important;
}

input:checked+.t3s-switch-slider {
    background-color: dimgrey !important;
}

input:focus+.t3s-switch-slider {
    box-shadow: 0 0 1px black !important;
}

input:checked+.t3s-switch-slider:before {
    -webkit-transform: translateX(20px) !important;
    -ms-transform: translateX(20px) !important;
    transform: translateX(20px) !important;
}

/* Check Box */
/* The container */
.t3s-checkbox {
    display: block;
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 16px;
}

/* Hide the browser's default checkbox */
.t3s-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Custom checkbox */
.t3s-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: lightgrey;
}

/* On mouse-over, add a grey background color */
.t3s-checkbox:hover input~.t3s-checkmark {
    background-color: grey !important;
}

/* When the checkbox is checked, add a blue background */
.t3s-checkbox input:checked~.t3s-checkmark {
    background-color: blue !important;
}

/* Create the checkmark/indicator (hidden when not checked) */
.t3s-checkmark:after {
    content: "" !important;
    position: absolute !important;
    display: none !important;
}

/* Show the checkmark when checked */
.t3s-checkbox input:checked~.t3s-checkmark:after {
    display: block !important;
}

/* Style the checkmark/indicator */
.t3s-checkbox .t3s-checkmark:after {
    left: 6px !important;
    top: 1px !important;
    width: 5px !important;
    height: 10px !important;
    border: solid white !important;
    border-width: 0 3px 3px 0 !important;
    -webkit-transform: rotate(45deg) !important;
    -ms-transform: rotate(45deg) !important;
    transform: rotate(45deg) !important;
}

/* Loader Classes */
.t3s-loader {
    border: 8px solid gainsboro;
    border-radius: 50%;
    border-top: 8px solid black;
    width: 64px;
    height: 64px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: fixed;
    z-index: 10;
}

.t3s-loader-small {
    border: 6px solid gainsboro;
    border-radius: 50%;
    border-top: 6px solid black;
    width: 32px;
    height: 32px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: fixed;
    z-index: 10;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Drop Down Classes */
.t3s-hoverdrop-hidable {
    display: none;
    position: absolute;
    top: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.t3s-hoverdrop-container:hover .t3s-hoverdrop-hidable {
    display: flex !important;
}

.t3s-hoverdrop-button:hover + .t3s-hoverdrop-hidable {
    display: flex !important;
}

.t3s-hoverdrop-hidable:hover {
    display: flex !important;
}
